<h1>Enter a new Artist into your collection</h1>
<form action="/new" method="post">
  <label for="artist">New Artist</label>
  <input type="text" name="artist">
  <button type="submit" name="button">Add Artist</button>
</form>

<p><a href="/view_all">View your Collection</a></p>
